{% extends "base.html" %}

{% load static %}

{% block title %}Contact Us | The Ezrat Nashim Database{% endblock %}

{% block content %}
    <div class="row h-100">
        <div class="col h-100 d-flex flex-column">
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <h1 class="mb-3">Contact Us</h1>
                    <div class="d-flex flex-wrap justify-content-center align-items-center gap-3 text-muted mb-2">
                        <span>Email: <a href="mailto:ezratnashimdb@gmail.com" class="text-decoration-none">ezratnashimdb@gmail.com</a></span>
                        <span class="vr d-none d-sm-inline"></span>
                        <span>Follow:
                            <a href="https://www.facebook.com/profile.php?id=61583770480933"
                               target="_blank"
                               rel="noopener"
                               class="text-decoration-none text-muted ms-1"
                               aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/theezratnashimdatabase/"
                               target="_blank"
                               rel="noopener"
                               class="text-decoration-none text-muted ms-1"
                               aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center flex-grow-1"
                 style="min-height: 650px">
                <div class="col-lg-8 pb-3 h-100">
                    <div class="ratio h-100 rounded shadow">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc8oApWnbuXsosStSSvkfmavSvtZh2PU7Y5NCYsSs_l0lTmUw/viewform?embedded=true&amp;hl=en"
                                title="Contact Form"
                                loading="lazy">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
