{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST"
        enctype="multipart/form-data"
        novalidate
        id="shul_form"
        class="row h-100"
        {# djlint:off #}
        x-data="{
            dirtyFields: new Set(),
            markDirty(e) {
                if (e.target.name) this.dirtyFields.add(e.target.name);
            },
            clearDirty() {
                this.dirtyFields.clear();
            }
        }"
        x-init="
            window.addEventListener('beforeunload', e => {
                // Trigger built-in browser warning if any fields are dirty.
                if (dirtyFields.size > 0) {
                    e.preventDefault();
                    e.returnValue = '';
                }
            })
        "
        {# djlint:on #}
        @input="markDirty($event)"
        @submit="clearDirty()"
        >
        {% csrf_token %}
        <div class="col h-100 d-flex flex-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="d-flex justify-content-between align-items-center">
                        <div>
                            {% if object %}
                                Edit Shul: {{ object.name }}
                            {% else %}
                                Add a Shul
                            {% endif %}
                        </div>
                    </h3>
                </div>
            </div>
            <div class="row flex-grow-1 overflow-auto">
                <div class="col-12 h-100">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-5 col-lg-4">
                                    <div class="mt-3">{% crispy form %}</div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <h5 class="col-12 pt-3 mb-2">Rooms</h5>
                                    </div>
                                    <div class="row mb-3">
                                        {{ room_fs.management_form }}
                                        {% for error in room_fs.non_form_errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
                                        <div class="room-formset accordion" id="roomsAccordion" x-data="{ openRoom:
                                            {% if not shul.rooms.exists %}
                                                'rooms-0-form'
                                            {% else %}
                                                null
                                            {% endif %}
                                            }">
                                            {% for form in room_fs %}
                                                {% crispy form %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-12">
                                            <div class="row justify-content-end">
                                                <div class="add-room-container col-12 d-flex justify-content-end"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary w-100">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block extra_media_bottom %}
    {{ block.super }}
    <script defer src="{% static 'dist/createUpdateShul.js' %}"></script>
    <script type="text/javascript">
    const shulForm = {
        errors: JSON.parse("{{ form.errors.as_json|escapejs }}"),
    }
    $(function() {
        $('.room-form').formset({
            modelName: "room",
            formCssClass: 'room-form',
            formsParentCssClass: 'room-formset',
            prefix: '{{ room_fs.prefix }}',
            addCssClass:'btn btn-sm btn-secondary form-text mt-2',
            addText: '<i class="fa fa-plus"></i> Add another room',
            addContainerClass: 'add-room-container',
            deleteCssClass:'delete-room btn btn-sm btn-outline-danger mt-3',
            deleteText: '<i class="fa fa-times"></i> Delete room',
            deleteContainerClass: 'delete-room-container',
            hideLastAddForm: {% if room_fs.1 %} true {% else %} false {% endif %},
            prepareTemplate: (template) => {
                const collapseEl = template.find('.accordion-collapse');
                collapseEl.removeClass('show');
            },
            added: (row) => {
                const accordion = document.getElementById('roomsAccordion');
                const alpineData = Alpine.$data(accordion);
                alpineData.openRoom = row.attr('id');
                const collapseEl = row.find('.accordion-collapse')[0];
                new bootstrap.Collapse(collapseEl, {show: true});
            },
        });
    });
    </script>
{% endblock extra_media_bottom %}
