{% extends "base.html" %}

{% load eznashdb_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST"
          enctype="multipart/form-data"
          id="shul_form"
          class="d-flex flex-column h-100 card">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">Add a Shul</h5>
        </div>
        <div class="card-body flex-grow-1 overflow-auto">
            {% crispy form %}
            {{ room_fs.management_form }}
            <h5 class="card-title">Rooms</h5>
            <div>
                {% for error in room_fs.non_form_errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
                {% for room_form in room_fs %}
                    <div class="room-form border-top border-bottom py-3">
                        {% for hidden in room_form.hidden_fields %}{{ hidden }}{% endfor %}
                        {% with room_form as form  %}
                            {% crispy room_form %}
                        {% endwith %}
                    </div>
                {% endfor %}
                <div class="add-room-container"></div>
            </div>
            <div class="row text-end">
                <div class="col-12 col-md-4 col-xl-3 ms-auto">
                    <input type="submit" class="btn btn-primary w-100">
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block extra_media_bottom %}
    <script type="text/javascript">
    $(function() {
        $('.room-form').formset({
            prefix: '{{ room_fs.prefix }}',
            addCssClass:'btn btn-link',
            addText: '<i class="fa fa-plus"></i> Add another room',
            addContainerClass: 'add-room-container',
            deleteCssClass:'btn btn-danger w-100',
            deleteText: '<i class="fa-solid fa-xmark"></i> Delete Room',
            deleteContainerClass: 'delete-room-container'
        });
    })
    </script>
{% endblock extra_media_bottom %}
