{% extends "base.html" %}

{% load eznashdb_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST"
          enctype="multipart/form-data"
          id="shul_form"
          class="row d-flex flex-column h-100">
        {% csrf_token %}
        <div class="col-12">
            <h2 class=" text-center">
                {% if object %}
                    Edit Shul: {{ object.name }}
                {% else %}
                    Add a Shul
                {% endif %}
            </h2>
        </div>
        <hr class="col-12 row m-0">
        <div class="overflow-auto rooms-scroll col flex-grow-1 h-100 d-flex flex-column">
            <div class="row">
                <div class="col">
                    <div class="sticky-top row bg-white" style="z-index: 1022;">
                        <h5 class="col-12 py-2 m-0 text-center">Shul Details</h5>
                        <hr class="col-12 m-0">
                    </div>
                    <div class=" pb-0 pt-2">{% crispy form %}</div>
                </div>
            </div>
            <div class="row flex-grow-1">
                <div class="col">
                    <div class="sticky-top row bg-white">
                        <h5 class="col-12 py-2 m-0 text-center">Rooms</h5>
                        <hr class="col-12 m-0">
                    </div>
                    <div class="row">
                        {{ room_fs.management_form }}
                        {% for error in room_fs.non_form_errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
                        <div class="room-formset col">
                            {% for room_form in room_fs %}
                                <div class="room-form row">
                                    {% with room_form as form  %}
                                        <div class="col-12">{% crispy room_form %}</div>
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-12">
                            <div class="row justify-content-end">
                                <div class="add-room-container col-12 col-lg-3 d-flex justify-content-end mb-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 py-2">
            <div class="row">
                <div class="col-12 col-lg-4 col-xl-6 col-xxl-4 mx-auto">
                    <button type="submit" class="btn btn-sm btn-primary w-100">
                        <span>Submit</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block extra_media_bottom %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        $('.link-form').formset({
            formCssClass: 'link-form',
            formsParentCssClass: 'link-formset',
            prefix: '{{ link_fs.prefix }}',
            addCssClass:'btn btn-sm btn-outline-secondary py-0 px-1',
            addText: 'Add another link <i class="fa fa-plus"></i>',
            addContainerClass: 'add-link-container',
            deleteCssClass:'btn btn-link py-0 px-1 text-danger text-nowrap align-top',
            deleteText: '<i class="fa fa-xmark"></i>',
            deleteContainerClass: 'delete-link-container',
            hideLastAddForm: {% if link_fs.1 %} true {% else %} false {% endif %},
        });
        $('.room-form').formset({
            formCssClass: 'room-form',
            formsParentCssClass: 'room-formset',
            scrollCssClass: 'rooms-scroll',
            prefix: '{{ room_fs.prefix }}',
            addCssClass:'btn btn-sm btn-outline-secondary py-0 px-1',
            addText: 'Add another room <i class="fa fa-plus"></i>',
            addContainerClass: 'add-room-container',
            deleteCssClass:'btn btn-sm btn-outline-danger py-0 px-1',
            deleteText: 'Delete room <i class="fa fa-xmark"></i>',
            deleteContainerClass: 'delete-room-container',
            hideLastAddForm: {% if room_fs.1 %} true {% else %} false {% endif %},
        });
    })
    </script>
{% endblock extra_media_bottom %}
