{% extends "base.html" %}
{% load eznashdb_tags %}
{% block content %}

  <div>
    {% for shul in shuls %}
      <div class="px-2 d-flex justify-content-between shadow-sm bg-light rounded border">
        <div class="fw-bold">{{shul.name}}</div>
        <div>
          <form 
            action="{% url 'eznashdb:delete_shul' shul.pk %}" method="POST"
            class="d-inline-block"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-sm text-danger link-danger">
              <i class="fa fa-trash" aria-hidden="true"></i>
              Delete Shul
            </button>
          </form>
          <span>
            Fem. Leadership: {{ shul.has_female_leadership|bool_to_icon }}
          </span>
          <span class="ps-2">
            Childcare: {{ shul.has_childcare|bool_to_icon }}
          </span>
          <span class="ps-2">
            Kaddish: {{ shul.can_say_kaddish|bool_to_icon }}
          </span>
        </div>
      </div>
      {% for room in shul.rooms.all %}
        {% include "eznashdb/includes/room_card.html" %}
      {% endfor %}
    {% endfor %}
  </div>

  {% if not shuls %}
  <div class="w-100 p-3 text-center">
    <span class="text-muted h3">
      -- No Shuls Found --
    </span>
  </div>
  {% endif %}

{% endblock content %}
