{% extends "base.html" %}
{% load eznashdb_tags %}
{% block content %}

<table class="table table-sm table-bordered m-auto">
    <thead>
      <tr>
        <th scope="col" colspan="1">General Info</th>
        <th scope="col" colspan="4">Other Info</th>
      </tr>
      <tr class="thead-dark">
        <th scope="col"><small>Name</small></th>
        <th scope="col"><small>Fem. Ldshp.</small></th>
        <th scope="col"><small>Childcare</small></th>
        <th scope="col"><small>Kaddish With Men</small></th>
        <th scope="col"><small>Kaddish Alone</small></th>
      </tr>
    </thead>
    {% for shul in shuls %}
        <tr class="table-secondary">
            <td><b>{{shul.name}}</b></td>
            <td>
                {{ shul.has_female_leadership|bool_to_icon }}
            </td>
            <td>
                {{ shul.has_childcare|bool_to_icon }}
            </td>
            <td>
              {{ shul.has_kaddish_with_men|bool_to_icon }}
          </td>
          <td>
            {{ shul.enum_has_kaddish_alone }}
        </td>
        </tr>
    {% endfor %}
  </table>

  {% if not shuls %}
  <div class="w-100 p-3 text-center">
    <span class="text-muted h3">
      -- No Shuls Found --
    </span>
  </div>
  {% endif %}

{% endblock content %}
