{% extends "base.html" %}
{% load eznashdb_tags %}
{% block content %}

<table class="table table-sm table-bordered m-auto">
    <thead>
      <tr class="thead-dark text-center">
        <small>
          <th scope="col"><small>Name</small></th>
          <th scope="col"><small>Room Layout</small></th>
          <th scope="col"><small>Size</small></th>
          <th scope="col"><small>Audibility / Visibility</small></th>
          <th scope="col"><small>Wheelchair Access</small></th>
        </small>
      </tr>
    </thead>
    {% for shul in shuls %}
        <tr class="table-secondary">
            <td colspan="5">
              <div class="d-flex justify-content-between">
                <div class="fw-bold ms-2">
                  {{shul.name}}
                </div>
                <div>
                  <div class="pe-3 d-inline-block">
                    <div class="pe-2 d-inline-block">
                      Fem. Leadership: {{ shul.has_female_leadership|bool_to_icon }}
                    </div>
                    <div class="pe-2 d-inline-block">
                      Childcare: {{ shul.has_childcare|bool_to_icon }}
                    </div>
                    <div class="pe-2 d-inline-block">
                      Kaddish: {{ shul.can_say_kaddish|bool_to_icon }}
                    </div>
                  </div>
                  <form 
                    action="{% url 'eznashdb:delete_shul' shul.pk %}" method="POST"
                    class="d-inline-block"
                  >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
                  </form>
                </div>
              </div>

          </td>
        </tr>
        {% for room in shul.rooms.all %}
        <tr>
          <td>
            <div class="ms-4 fw-bold">
              {{room.name}}
            </div>
          </td>
          <td>
            <small class="p-0">
              <div class="row m-0">
                {% for layout_display_data in room|get_layout_type_display_data_list %}
                  <div class="col-12 col-lg-6 col-xl-4">
                    {% if layout_display_data.as_bool %}
                      <span class="pe-4">
                        <span class="pe-1 fw-bold">{{layout_display_data.layout_type}}:</span>
                        <span>{{layout_display_data.as_string}}</span>
                      </span>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </small>
          </td>
          <td>
            <div class="fw-bold text-center">
              {% if room.relative_size %}
                <span class="badge bg-secondary w-100">
                  {{room.relative_size}}
                </span>
              {% else %}
                --
              {% endif %}
            </div>
          </td>
          <td>
            <div class="fw-bold text-center">
              {{room.see_hear_score|default:"--"}}
            </div>
          </td>
          <td>
            <div class="fw-bold text-center">
              {{room.is_wheelchair_accessible|bool_to_icon}}
            </div>
          </td>
          </tr>
          {% endfor %}
    {% endfor %}
  </table>

  {% if not shuls %}
  <div class="w-100 p-3 text-center">
    <span class="text-muted h3">
      -- No Shuls Found --
    </span>
  </div>
  {% endif %}

{% endblock content %}
