{% load crispy_forms_tags %}
<div class="accordion-item room-form" id="{{ room_fs.prefix }}-{{ forloop.counter0 }}-form"
    {# djlint:off #}
        {% with dropdown_default="<kbd class='fw-bold'>?</kbd> <small>- Not set</small>" %}
        x-data='{
            roomName: "{{ form.instance.name }}",
            sizeBanner: "{{ form.instance.get_relative_size_display|safe|default:dropdown_default|escapejs }}",
            seeHearBanner: "{{ form.instance.get_see_hear_score_display|safe|default:dropdown_default|escapejs }}",
            handleTomFieldChanged(event) {
                this.updateIfMatch(event, "relative_size", "sizeBanner");
                this.updateIfMatch(event, "see_hear_score", "seeHearBanner");
            },
            updateIfMatch(event, eventFieldName, stateFieldName) {
                const sourceElem = event.detail.element;
                const isChildSource = $el.contains(sourceElem);
                const isFieldNameMatch = event.detail.fieldName.includes(eventFieldName);
                if (!isChildSource || !isFieldNameMatch) return;
                this[stateFieldName] = event.detail.html || "{{dropdown_default|escapejs}}";
            },
        }'
        {% endwith %}
        x-init="
            const collapseEl = $el.querySelector('.accordion-collapse');
            collapseEl.addEventListener('show.bs.collapse', () => openRoom = $el.id);
            collapseEl.addEventListener('shown.bs.collapse', () => {
                collapseEl.scrollIntoView({ behavior: 'smooth', block: 'center' });
            });
            collapseEl.addEventListener('hide.bs.collapse', () => {
                const isClosingActiveRoom = openRoom === $el.id
                if (isClosingActiveRoom) openRoom = null;
            });
        "
    {# djlint:on #}
    @tom-select-changed.window="handleTomFieldChanged($event)"
    >
    <h2 class="accordion-header">
        <button class="accordion-button
            {% if form.errors %}
                bg-alert-danger text-alert-danger
            {% else %}
                bg-light
            {% endif %}
            m-0"
            type="button"
            {# djlint:off #}
            @click="
                const collapseEl = $el.closest('.accordion-item').querySelector('.accordion-collapse');
                new bootstrap.Collapse(collapseEl, { toggle: true });
            "
            {# djlint:on #}
            :class="{ 'collapsed': openRoom !== $el.closest('.accordion-item').id }"
            :aria-expanded="openRoom === $el.closest('.accordion-item').id">
            <div class="row w-100 justify-content-end"
                 x-show="openRoom !== $el.closest('.accordion-item').id"
                 x-cloak>
                {% if form.errors %}
                    <div class="col-12 fw-bold text-danger mb-3">This room has errors. Click to review and fix.</div>
                {% endif %}
                <div class="col-12 col-lg-3 mb-2 mb-lg-0 d-flex align-items-center">
                    <span class="pe-3 text-primary text-nowrap">
                        <i class="fas fa-edit"></i> Edit
                    </span>
                    <div class="inline-block" x-html='roomName || "Unnamed room"'></div>
                </div>
                <div class="col-11 col-lg-5 text-nowrap mb-2 mb-lg-0 d-flex align-items-center">
                    <span class="ms-3">
                        <span style="width:20px;" class="me-2 d-inline-block">
                            <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                        </span>
                        <span x-html="sizeBanner"></span>
                    </span>
                </div>
                <div class="col-11 col-lg-4 text-nowrap mb-2 mb-lg-0 d-flex align-items-center">
                    <span class="ms-3">
                        <span style="width:20px;" class="me-2 d-inline-block">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                        <span x-html="seeHearBanner"></span>
                    </span>
                </div>
            </div>
        </button>
    </h2>
    <div class="accordion-collapse collapse"
         :class="{ 'show': openRoom === $el.closest('.accordion-item').id }"
         data-bs-parent="#roomsAccordion">
        <div class="accordion-body position-relative">
            <div class="col-auto position-absolute end-0 top-0 p-1">
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12 col-lg-6">{{ form.name|as_crispy_field }}</div>
                        <div class="col-12 col-lg-6">{{ form.relative_size|as_crispy_field }}</div>
                        <div class="col-12 col-lg-12">{{ form.see_hear_score|as_crispy_field }}</div>
                    </div>
                    <div class="delete-room-container"></div>
                </div>
            </div>
        </div>
    </div>
