<div>
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form.visible_fields %}
        {% if field.name == "DELETE" %}
            <div class="col-3">
                <div class="delete-room-container"></div>
            </div>
        {% else %}
            {% include "eznashdb/includes/form_field_with_help_text.html" %}
        {% endif %}
    {% endfor %}
    {% if "DELETE" not in form.fields %}
        <div class="col-3">
            <div class="delete-room-container"></div>
        </div>
    {% endif %}
</div>
<hr class="my-2">
