{% extends "base.html" %}

{% load static %}

{% block extra_media_top %}
    <script>const shuls = {{serialized_shuls|safe}}</script>
{% endblock extra_media_top %}

{% block content %}
    <div class="d-flex flex-column h-100">
        <div class="row">
            <div class="col-6">
                <h4>
                    Search Shuls
                </h1>
            </div>
            <div class="col-6 d-flex flex-column align-items-end">
                <div>{{ filter.qs.count }} Shul{{ filter.qs.count|pluralize }} found</div>
            </div>
        </div>
        <div class="row">
            <div>{% include "eznashdb/includes/shul_filters.html" %}</div>
        </div>
        <div class="flex-grow-1 overflow-auto border rounded">
            <div id="shulsMap" class="h-100"></div>
        </div>
    </div>
{% endblock %}

{% block extra_media_bottom %}
    <script defer src="{% static 'eznashdb/js/shuls.js' %}"></script>
{% endblock extra_media_bottom %}
