{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="d-flex flex-column h-100">
        <div class="row">
            <div class="col-6">
                <h4>
                    Search Shuls
                </h1>
            </div>
            <div class="col-6 d-flex flex-column align-items-end">
                <span class="text-nowrap">
                    <span class="position-relative d-inline p-2">
                        <span class="spinner-overlay bg-secondary w-100 rounded text-center opacity-0">
                            <span class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </span>
                        </span>
                        <span id="shuls-count">{{ filter.qs.count }} shul{{ filter.qs.count|pluralize }}</span>
                        <span>found</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="row mb-3" style="max-height: 40%;">
            <div class="col-12 h-100 overflow-auto">{% include "eznashdb/includes/shul_filters.html" %}</div>
        </div>
        <div class="row flex-grow-1">
            <div class="col-12">
                <div id="shuls-js-loader-wrapper">{% include "eznashdb/includes/shuls_js_loader.html" %}</div>
                <div class="border rounded h-100 position-relative">
                    <span class="spinner-overlay bg-secondary w-100 h-100 rounded text-center d-flex align-items-center opacity-0">
                        <div class="flex-grow-1 text-center">
                            <span class="spinner-border spinner-border-lg"
                                  style="width: 3rem;
                                         height: 3rem"
                                  role="status">
                                <span class="visually-hidden">Loading...</span>
                            </span>
                        </div>
                    </span>
                    <div id="shuls-map" class="h-100"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_media_bottom %}
    <script defer src="{% static 'dist/shulsMap.js' %}"></script>
{% endblock extra_media_bottom %}
