{% extends "base.html" %}

{% block content %}
    <div class="d-flex flex-row justify-content-between">
        <div>{{ filter.qs.count }} Shuls found</div>
        <div class="mb-1">{% include "eznashdb/includes/shul_filters.html" %}</div>
    </div>
    {% for shul in filter.qs %}
        {% include "eznashdb/includes/shul_card.html" %}
    {% endfor %}
    {% if not filter.qs.exists %}
        <div class="w-100 p-3 text-center">
            <span class="text-muted h3">-- No Shuls Found --</span>
        </div>
    {% endif %}
{% endblock %}
