.venv
__pycache__/
/__pycache__
.env
.pytest_cache/
/.pytest_cache
.vscode/
.claude/
/keypairs


# testmon
.testmondata*
.testmondata-journal

# ruff
.ruff_cache

# Node
node_modules/
static/dist
**/static/*/dist
static/dist
