.venv
__pycache__/
/__pycache__
.env
.pytest_cache/
/.pytest_cache
.vscode/

# flakeheaven
.flakeheaven_cache

# testmon
.testmondata*
.testmondata-journal

# Node
node_modules/
static/dist
**/static/*/dist
static/dist
