.w-45px {
    width: 45px;
    min-width: 45px;
    max-width: 45px;
}

.w-125px {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
}

.btn .fa-chevron-up {
    transition: transform 0.3s ease;
}

.btn.collapsed .fa-chevron-up {
    transform: rotate(-180deg);
}