.room-size-badge {
    width: 36px;
    min-width: 36px;
    max-width: 36px;
}

.see-hear-score {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

.btn .fa-chevron-up {
    transition: transform 0.3s ease;
}

.btn.collapsed .fa-chevron-up {
    transform: rotate(-180deg);
}