.shul-filters-row {
    min-height: 6rem;
    height: 10rem;
}

.map-row {
    min-height: 100px;
}

.shul-popup {
    pointer-events: none;
}

.shul-popup .leaflet-popup-content {
    pointer-events: initial;
    margin-top: 40px;
    max-width: 275px;
    width: calc(100vw - 40px) !important;
}

/* Popup */
.leaflet-popup-content {
    font-size: 1rem;
    font-family: var(--bs-font-sans-serif);
    margin: 0;
}

.leaflet-popup-content-wrapper {
    border-radius: var(--bs-border-radius) !important;
    padding: 0px;
}
