.leaflet-container {
    font-family: unset;
}

/* Popup */
.shul-popup {
    pointer-events: none;
}

.shul-popup .leaflet-popup-content {
    pointer-events: initial;
    margin-top: 40px;
    max-width: 350px;
    width: calc(100vw - 40px) !important;
}

.leaflet-popup-content {
    font-size: 1rem;
    margin: 0;
}

.leaflet-popup-content-wrapper {
    border-radius: var(--bs-border-radius) !important;
    padding: 0px;
}

.leaflet-popup-content .btn-primary {
    background-color: var(--bs-btn-bg);
    color: var(--bs-btn-color);
    border-color: var(--bs-btn-border-color);
}
