.leaflet-container {
    font-family: unset;
}

/* Popup */
.shul-cluster-popup {
    pointer-events: none;
}

.shul-cluster-popup .leaflet-popup-content {
    pointer-events: initial;
    margin-top: 40px;
    max-width: 425px;
    width: calc(100vw - 40px) !important;
}

.leaflet-popup-content {
    font-size: 1rem;
    margin: 0;
}

.leaflet-popup-content-wrapper {
    border-radius: var(--bs-border-radius) !important;
    padding: 0px;
}

/* Single cluster icon */
.marker-cluster-wrapper {
    background: none;
}

.marker-cluster-single {
    background-color: rgba(110, 204, 255, 0.6);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: relative;
}

.marker-cluster-single::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    background-color: rgba(110, 204, 255, 0.85);
    border-radius: 50%;
}

.marker-cluster-single span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    z-index: 1;
}
