{% load crispy_forms_tags %}
<div class="row my-1">
    <div class="col-12 col-lg-2 col-xl-3">
        <div class="d-flex">
            <div class="d-inline-block w-min-25px">
                <span>
                    <i class="{{ field.label.icon_classes.0 }}"></i>
                </span>
            </div>
            <span class="ms-2 flex-grow-1">{{ field.label.label }}</span>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-6 text-muted small d-flex align-items-center">
        {{ field.label.help_text }}
    </div>
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="input-group input-group-sm d-block">{{ field|as_crispy_field }}</div>
    </div>
</div>
