{% load eznashdb_tags %}

<div class="w-100 card">
    <div class="card-header">{{room.name}}</div>
    <div class="card-body">
        <div class="d-flex justify-content-between px-1 pb-2">
        <div class="text-center">
            <div class="room-size-badge">
            {% if room.relative_size %}
            <small>
                <span class="badge bg-secondary fw-bold w-100">
                {{room.relative_size}}
                </span>
            </small>
            {% else %}
                --
            {% endif %}
            </div>
        </div>
        <div>
            <div class="d-inline-block me-1">
            <small><small>
                <span>
                <i class="fa-solid fa-volume-high"></i>
                /
                <i class="fa-solid fa-eye"></i>
                </span>
            </small></small>
            </div>
            <div class="d-inline-block">
            <div class="see-hear-score">
                {% if room.see_hear_score %}
                <small>
                {{room.see_hear_score|score_to_stars}}
                </small>
                {% else %}
                --
                {% endif %}
            </div>
            </div>
        </div>
        <small>
            <div class="text-center">
            <i class="fa-solid fa-wheelchair"></i> 
            {{room.is_wheelchair_accessible|bool_to_icon}}
            </div>
        </small>
        </div>
        <small>
        <div class="row m-0">
            {% for layout_display_data in room|get_layout_type_display_data_list %}
            <div class="col-12 px-0">
                {% if layout_display_data.as_bool %}
                <span>
                    <span class="pe-1 fw-bold">{{layout_display_data.layout_type}}:</span>
                    <span>{{layout_display_data.as_string}}</span>
                </span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        </small>
    </div>
</div>