<div>
    <div class="row w-100 gx-0 align-items-center">
        <div class="col-12 col-lg-3">
            <span class="m-0">{{ room.name }}</span>
        </div>
        <div class="col-12 col-lg-9">
            <div class="d-inline-block">{% include "eznashdb/includes/room_data_points/size.html" %}</div>
            <div class="d-inline-block">
                {% include "eznashdb/includes/room_data_points/wheelchair_access.html" %}
            </div>
            <div class="d-inline-block">{% include "eznashdb/includes/room_data_points/see_hear_score.html" %}</div>
            <div class="d-inline-block">{% include "eznashdb/includes/room_data_points/layout.html" %}</div>
        </div>
    </div>
</div>
