{% load crispy_forms_tags %}
<form method="get" class="row">
    {% for field in filter.form %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-end">
            <div class="w-100">{{ field|as_crispy_field }}</div>
        </div>
    {% endfor %}
    {% comment %} <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-end">
        <button type="submit" class="btn btn-primary mb-3 w-100 text-center">
            <i class="fas fa-search"></i>
            Search
        </button >
    </div> {% endcomment %}
</form>
