{% load crispy_forms_tags %}
<form class="row shadow-scroll__content"
      hx-get="{% url 'eznashdb:shuls' %}"
      hx-target="#shuls-js-loader-wrapper"
      hx-trigger="change">
    {% for field in filter.form %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column mb-3">
            {{ field|as_crispy_field }}
            {% if field.label.help_text %}
                <div class="form-text" x-show="showHelpText" x-cloak x-transition>{{ field.label.help_text }}</div>
            {% endif %}
        </div>
    {% endfor %}
</form>
