<div class="card">
    <div class="card-header py-1 px-2">
        <div class="d-flex bg-light">
            <div class="flex-grow-1 d-flex flex-direction-row w-100 justify-content-between align-items-center">
                {% include "eznashdb/includes/shul_info.html" %}
            </div>
            <div>
                <button class="btn btn-light px-2 py-1 ms-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseShul{{ shul.id }}"
                        aria-expanded="false"
                        aria-controls="collapseShul{{ shul.id }}">
                    <i class="fa-solid fa-chevron-up"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="collapse show" id="collapseShul{{ shul.id }}">
        <div class="card-body">
            {% for room in shul.rooms.all %}
                {% if forloop.counter != 1 %}<hr>{% endif %}
                <div>{% include "eznashdb/includes/room_info.html" %}</div>
            {% endfor %}
        </div>
    </div>
</div>
