<div class="card h-100">
    <div class="card-header fw-bold p-1 d-flex align-items-center">
        <a class="btn btn-sm text-primary link-primary"
           href="/shuls/{{ shul.id }}/update">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <span class="flex-grow-1">{{ shul.name }}</span>
        <button type="button" class="btn-close shul-popup-close " aria-label="Close"></button>
    </div>
    <div class="card-body p-2 overflow-auto" style="height:200px">
        <div class="row w-100 m-auto gx-0 mt-1">
            <div class="col">
                {% if shul.rooms.exists %}
                    {% for room in shul.rooms.all %}
                        <div class="row gx-0 mb-2 p-2 rounded bg-light border">
                            <div class="col-12 mb-2">{{ room.name }}</div>
                            <div class="col-12">
                                {% with not_set_display="<kbd class='fw-bold'>?</kbd> <small>- Not set</small>" %}
                                <div class="row gx-0 ps-3">
                                    <div class="col-12 mb-2 text-nowrap">
                                        <span style="width:20px;" class="d-inline-block text-center">
                                            <i class="fa-solid fa-up-right-and-down-left-from-center me-1"></i>
                                        </span>
                                        <span>{{ room.get_relative_size_display|safe|default:not_set_display }}</span>
                                    </div>
                                    <div class="col-12 mb-2 text-nowrap">
                                        <span style="width:20px;" class="d-inline-block text-center">
                                            <i class="fa-solid fa-eye me-1"></i>
                                        </span>
                                        <span>{{ room.get_see_hear_score_display|safe|default:not_set_display }}</span>
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <span class="text-muted small">No rooms saved</span>
            {% endif %}
        </div>
    </div>
</div>
</div>
