{% extends "eznashdb/includes/base_shul_popup.html" %}

{% block header_content %}
    <span class="flex-grow-1">{{ shuls|length }} Shul{{ shuls|length|pluralize }} in this area</span>
{% endblock %}

{% block close_button_class %}{% endblock %}

{% block accordion_id %}shuls-cluster-accordion{% endblock %}

{% block accordion_content %}
    {% for shul in shuls %}
        {% include "eznashdb/includes/shul_accordion_item.html" with shul=shul accordion_id="shuls-cluster-accordion" item_id_prefix="shul" total_shuls=shuls|length is_last=forloop.last %}
    {% endfor %}
{% endblock %}
