{% load eznashdb_tags %}
<div class="card rounded-0 border-0 border-bottom border-end">
    <div class="card-header py-1 px-2 border-0 rounded-0">
        <div class="d-flex align-items-center">
            <div class="me-2">{% include "eznashdb/includes/delete_shul.html" %}</div>
            <div class="fw-bold flex-grow-1">{{ shul.name }}</div>
            <button class="btn btn-light px-2 py-1 ms-2 collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseShul{{ shul.id }}"
                    aria-expanded="false"
                    aria-controls="collapseShul{{ shul.id }}">
                <i class="fa-solid fa-chevron-up"></i>
            </button>
        </div>
    </div>
    <div class="collapse border-top" id="collapseShul{{ shul.id }}">
        <div class="px-3 ">
            {% include "eznashdb/includes/shul_info.html" %}
            <hr class="my-0">
        </div>
        <div class="card-body">
            {% for room in shul.rooms.all %}
                {% if forloop.counter != 1 %}<hr>{% endif %}
                <div>{% include "eznashdb/includes/room_info.html" %}</div>
            {% endfor %}
        </div>
    </div>
</div>
