{% load eznashdb_tags %}
<div class="accordion-item">
    <h2 class="accordion-header" id="shulCollapseHeader{{ shul.pk }}">
        <button class="accordion-button bg-light text-dark btn-light py-2 collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#shulCollapsePanel{{ shul.pk }}"
                aria-expanded="true"
                aria-controls="shulCollapsePanel{{ shul.pk }}">
            <span class="fw-bold">{{ shul.name }}</span>
        </button>
    </h2>
    <div id="shulCollapsePanel{{ shul.pk }}"
         class="accordion-collapse collapse"
         aria-labelledby="shulCollapseHeader{{ shul.pk }}">
        <div class="px-3 ">
            {% include "eznashdb/includes/shul_info.html" %}
            <hr class="my-0">
        </div>
        <div class="accordion-body">
            {% for room in shul.rooms.all %}
                {% if forloop.counter != 1 %}<hr>{% endif %}
                <div>{% include "eznashdb/includes/room_info.html" %}</div>
            {% endfor %}
        </div>
    </div>
</div>
