<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            The Ezrat Nashim Database
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                {% for item in navbar_items %}
                    {% include 'includes/navbar_item.html' %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
