{% load svg %}
{% load i18n %}
{% load waffle_tags %}
{% load static %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between flex-nowrap flex-grow-1 gap-1 min-w-0">
            <a class="navbar-brand me-1 d-flex align-items-center gap-2 py-0 min-w-0"
               href="/">
                <span class="navbar-logo" aria-hidden="true">{% inline_svg 'img/logo.svg' %}</span>
                <span class="d-flex flex-column lh-1 text-truncate">
                    <span class="text-truncate">{% trans "The Ezrat Nashim Database" %}</span>
                    <small class="text-white-50 text-truncate navbar-subtitle">{% trans "A project by Ari Abramowitz" %}</small>
                </span>
            </a>
            <button class="navbar-toggler flex-shrink-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="{% trans 'Toggle navigation' %}">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in navbar_items %}
                    {% include 'includes/navbar_item.html' %}
                {% endfor %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="accountDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">{% trans "Account" %}</a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="accountDropdown">
                            <li>
                                <h6 class="dropdown-header text-truncate" style="max-width: 250px;">{{ user.email }}</h6>
                            </li>
                            <li>
                                <form method="POST" action="{% url 'account_logout' %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">{% trans "Logout" %}</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% flag "hebrew_translation" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center gap-1"
                       href="#"
                       id="languageDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {% get_current_language as CURRENT_LANGUAGE %}
                        {% if CURRENT_LANGUAGE == 'he' %}
                            <img src="{% static 'img/flags/il.svg' %}"
                                 alt=""
                                 width="20"
                                 class="rounded-1">
                        {% else %}
                            <img src="{% static 'img/flags/us.svg' %}"
                                 alt=""
                                 width="20"
                                 class="rounded-1">
                        {% endif %}
                        {{ CURRENT_LANGUAGE|upper }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="languageDropdown">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <li>
                                <form method="POST" action="{% url 'set_language' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                    <input type="hidden" name="language" value="{{ language.code }}">
                                    <button type="submit" class="dropdown-item d-flex align-items-center gap-2">
                                        {% if language.code == 'he' %}
                                            <img src="{% static 'img/flags/il.svg' %}"
                                                 alt=""
                                                 width="20"
                                                 class="rounded-1">
                                        {% else %}
                                            <img src="{% static 'img/flags/us.svg' %}"
                                                 alt=""
                                                 width="20"
                                                 class="rounded-1">
                                        {% endif %}
                                        {{ language.name_local }}
                                    </button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endflag %}
        </ul>
    </div>
</div>
</nav>
