<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">The Ezrat Nashim Database</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in navbar_items %}
                    {% include 'includes/navbar_item.html' %}
                {% endfor %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="accountDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Account</a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="accountDropdown">
                            <li>
                                <h6 class="dropdown-header text-truncate" style="max-width: 250px;">{{ user.email }}</h6>
                            </li>
                            <li>
                                <form method="POST" action="{% url 'account_logout' %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
