{% load eznashdb_tags %}
{% for layout_display_data in room|get_layout_type_display_data_list %}
    {% if layout_display_data.as_bool %}
        <div class="d-inline-block badge text-bg-light">
            <div class="w-15px d-inline-block text-center">
                <i class="{{ layout_display_data.icon }}"></i>
            </div>
            <span>{{ layout_display_data.layout_type }}</span>
            {% if layout_display_data.as_string %}
                <span class="ps-1 fw-normal">{{ layout_display_data.as_string }}</span>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
{% if not room.has_layout_data %}
    <div class="d-inline-block badge text-bg-light fw-normal">
        <div class="w-15px d-inline-block text-center">--</div>
        Women's section location unknown
    </div>
{% endif %}
