{% load eznashdb_tags %}
<span>
    {% for layout_display_data in room|get_layout_type_display_data_list %}
        {% if layout_display_data.as_bool %}
            <div class="d-inline-block badge text-dark border">
                <div class="w-15px d-inline-block text-center">
                    <i class="{{ layout_display_data.icon }}"></i>
                </div>
                <span class="ms-1">{{ layout_display_data.layout_type }}</span>
                {% if layout_display_data.as_string %}
                    <span class="ps-2 fw-normal">{{ layout_display_data.as_string }}</span>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    {% if not room.has_layout_data %}<div class="d-inline-block badge text-dark border">--</div>{% endif %}
</span>
