{% load eznashdb_tags %}


<div class="text-nowrap">
    <div class="d-inline-block me-1">
        <small><small>
            <span>
                <i class="fa-solid fa-volume-high"></i>
                /
                <i class="fa-solid fa-eye"></i>
            </span>
        </small></small>
    </div>
    <div class="d-inline-block">
        <div class="see-hear-score">
            {% if room.see_hear_score %}
            <small>
                {{room.see_hear_score|score_to_stars}}
            </small>
            {% else %}
            --
            {% endif %}
        </div>
    </div>
</div>
