{% load eznashdb_tags %}
<span class="badge text-bg-light w-125px">
    <div class="d-flex flex-direction-row">
        <div class="pe-2">
            <i class="fa-solid fa-volume-high"></i>
            /
            <i class="fa-solid fa-eye"></i>
        </div>
        <div class="flex-grow-1">
            <span>
                {% if room.see_hear_score %}
                    <small>{{ room.see_hear_score|score_to_stars }}</small>
                {% else %}
                    --
                {% endif %}
            </span>
        </div>
    </div>
</span>
