{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% htmx_script %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-XS4PGLT5WW"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-XS4PGLT5WW');
        </script>
        <title>

            {% block title %}The Ezrat Nashim Database{% endblock %}

        </title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans"
              rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# open-graph #}
        <meta property="og:title" content="The Ezrat Nashim Database">
        <meta property="og:description"
              content="Mapping women's spaces in synagogues around the world">
        <meta property="og:image"
              content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/og_preview.png' %}">
        {# twitter bootstrap #}
        <link rel="stylesheet"
              href="{% static 'vendor/bootstrap-5.3.0/bootstrap.min.css' %}"
              type="text/css" />
        {# font awesome #}
        <link rel="stylesheet"
              href="{% static 'vendor/fontawesome-6.4.0/css/fontawesome.min.css' %}"
              type="text/css" />
        <link rel="stylesheet"
              href="{% static 'vendor/fontawesome-6.4.0/css/regular.min.css' %}"
              type="text/css" />
        <link rel="stylesheet"
              href="{% static 'vendor/fontawesome-6.4.0/css/solid.min.css' %}"
              type="text/css" />
        <link rel="stylesheet"
              href="{% static 'vendor/fontawesome-6.4.0/css/brands.min.css' %}"
              type="text/css" />
        {# tom-select bootstrap5 #}
        <link href="{% static 'vendor/tom-select/tom-select.bootstrap5.min.css' %}"
              rel="stylesheet">
        {# leaflet #}
        <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""
                defer></script>
        {# leaflet-markercluster #}
        <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"
                integrity="sha384-eXVCORTRlv4FUUgS/xmOyr66XBVraen8ATNLMESp92FKXLAMiKkerixTiBvXriZr"
                crossorigin="anonymous"
                defer></script>
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"
              integrity="sha384-pmjIAcz2bAn0xukfxADbZIb3t8oRT9Sv0rvO+BR5Csr6Dhqq+nZs59P0pPKQJkEV"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"
              integrity="sha384-wgw+aLYNQ7dlhK47ZPK7FRACiq7ROZwgFNg0m04avm4CaXS+Z9Y7nMu8yNjBKYC+"
              crossorigin="anonymous">
        {# custom styling #}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block extra_media_top %}
        {% endblock extra_media_top %}

    </head>
    <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        <div class="fixed-top">{% include 'includes/navbar.html' %}</div>
        <!-- Messages Container -->
        {% if messages %}
            <div class="position-fixed top-0 end-0 p-3" style="z-index: 1060">
                {% for message in messages %}
                    <div class="toast align-items-center text-bg-{{ message.tags }}"
                         role="alert"
                         aria-live="assertive"
                         aria-atomic="true"
                         data-bs-autohide="true"
                         data-bs-delay="5000">
                        <div class="d-flex">
                            <div class="toast-body">{{ message }}</div>
                            <button type="button"
                                    class="btn-close btn-close-white me-2 m-auto"
                                    data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div
            {# djlint:off #}
            class="main-scroll-container
                  {% block main_scroll_container_classes %}
                  d-flex flex-column
                  {% endblock main_scroll_container_classes %}
             "
            {# djlint:on #}
            >
            <div
                {# djlint:off #}
                  class="container py-3
                        {% block container_classes %}{% endblock container_classes %}
                  "
                {# djlint:on #}
                style="min-height: fit-content">

                {% block content %}{% endblock %}

            </div>
            {% include 'includes/footer.html' %}
        </div>
        {# twitter bootstrap #}
        <script type="text/javascript"
                src="{% static 'vendor/bootstrap-5.3.0/bootstrap.bundle.min.js' %}"></script>
        {# jquery #}
        <script type="text/javascript"
                src="{% static 'vendor/jquery-3.7.0/jquery.min.js' %}"></script>
        {# bootbox #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js"
                integrity="sha512-oVbWSv2O4y1UzvExJMHaHcaib4wsBMS5tEP3/YkMP6GmkwRJAa79Jwsv+Y/w7w2Vb/98/Xhvck10LyJweB8Jsw=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        {# django-dynamic-formsets #}
        <script type="text/javascript"
                src="{% static 'vendor/django-dynamic-formset/jquery.formset.js' %}"></script>
        <script src="{% static 'dist/base.js' %}"></script>
        <script src="{% static 'eznashdb/js/base.static.js' %}"></script>
        {% if debug %}
            <script>
            {# django-debug-toolbar HTMX config, per https://django-debug-toolbar.readthedocs.io/en/latest/installation.html #}
            if (typeof window.htmx !== "undefined") {
                  htmx.on("htmx:afterSettle", function(detail) {
                        if (
                        typeof window.djdt !== "undefined"
                        && detail.target instanceof HTMLBodyElement
                        ) {
                        djdt.show_toolbar();
                        }
                  });
            }
            </script>
        {% endif %}
        <link rel="stylesheet"
              href="https://unpkg.com/react-bootstrap-typeahead/css/Typeahead.css" />
        <link rel="stylesheet"
              href="https://unpkg.com/react-bootstrap-typeahead/css/Typeahead.bs5.css" />
        <script>
        // Auto-show all toasts on page load
        document.addEventListener('DOMContentLoaded', function() {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'));
            var toastList = toastElList.map(function(toastEl) {
                return new bootstrap.Toast(toastEl);
            });
            toastList.forEach(toast => toast.show());
        });
        </script>

        {% block extra_media_bottom %}
        {% endblock extra_media_bottom %}

    </body>
</html>
